{% extends 'base.html' %}

{% block content %}

<h1>Hobby Details</h1>



<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">{{ hobby.name}}</h3>
                <h6>Level(0-10): {{hobby.level}} </h6>
                <h6>Regularity: {{hobby.regularity}} </h6>
                <h6>Active Hobby: {{hobby.active}} </h6>
                <p>Reason why I started: {{hobby.reason}}</p>
                {% if hobby.level >= 7 %}
                <p>This one of my favorite things to do!!</p>
                {% elif 3 < hobby.level < 7 %}
                <p>I like to do this every now and then.</p>
                {% else %}
                <p>I am just getting into this.</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'hobbies_update' hobby.id %}">Update</a>
                <a href="{% url 'hobbies_delete' hobby.id %}">Delete</a>
            </div>
        </div>
        {% for photo in hobby.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}" >
        {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <form action="{% url 'add_photo' hobby.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    </div>
    <div class="col s6">
        <h3>{{ hobby.name }}'s Activities</h3>
        {% if hobby.active %}
        <form action="{% url 'activities_create' hobby.id %}" method="post">
          {% csrf_token %}
          {{ activity_form.as_p }}
          <input type="submit" class="btn" value="Add Activity">
        </form>
        {% endif %}
        <br>
        {% if hobby.activity_set.all %}
        <table class="striped">
            <thead>
              <tr><th>Date</th><th>Activity</th></tr>
            </thead>
            <tbody>
              {% for activity in hobby.activity_set.all %}
                <tr>
                  <td>{{activity.date}}</td>
                  <td>{{activity.name}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
         {% else %}
        <h4>No Activities to show</h4>
        {% endif %}
    </div>  
  </div>  
</div>  
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{hobby.name}}'s Friends</h3>
    {% if hobby.friends.count %}
      {% for friend in hobby.friends.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ friend.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'disconnect_friend' hobby.id friend.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div> 
      {% endfor %}

    {% else %}
        <h5>No Friends </h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Who likes this hobby too?</h3>
    {% if friends.count %}
      {% for friend in friends.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ friend.name }}
            </span>
          </div>
          <div class="card-action">
              <form action="{% url 'relate_friend' hobby.id friend.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add Friend</button>
              </form>
          </div>
        </div>
  
      {% endfor %}

    {% else %}
      <h5>{{ hobby.name }} is liked by everyone I know!</h5>
    {% endif %}
  </div>
</div>
<script>
  console.log('script started')
  console.log(M)
  var dateEL = document.getElementById('id_date');

  M.Datepicker.init(dateEL, {
      format:'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true,
  });
  M.FormSelect.init(dateEl);

</script>    
{% endblock %}

