{% extends 'base.html' %}

{% block content %}

<h1>View all My Hobbies</h1>


{% for hobby in hobbies %}
    <div class="card">
        <div class="card-content">
            <h3 class="card-title">{{ hobby.name}}</h3>
            <h6>Level(0-10): {{hobby.level}} </h6>
            <h6>Regularity: {{hobby.regularity}} </h6>
            {% if hobby.level >= 7 %}
            <p>This one of my favorite things to do!!</p>
            {% elif 3 < hobby.level < 7 %}
            <p>I like to do this every now and then.</p>
            {% else %}
            <p>I am just getting into this.</p>
            {% endif %}
        </div>    
    </div>
{% endfor %}

{% endblock %}